StockListView {
	margin: 1 2;
	height: auto;
}

StockListItem {
	padding: 1 2;
	height: 10;
	align-vertical: middle;
	layout: horizontal;
}

StockListItem > #name {
	height: 4;
}

StockListItem > #spacer {
	width: 1fr;
}

StockListItem > #info {
	width: 8;
}

StockListItem > #info > * {
	width: 8;
	text-align: right;
}

StockListItem > #list-graph {
	height: 8;
	width: 40;
	padding: 0 2;
}
